# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\matth\OneDriveUni\OneDrive - Universität des Saarlandes\Informatik Studium\Master\PsychologicalTheoriesforIntelligentandInteractiveSystems\Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
